.logo a {
  font-size: 50px;
  font-weight: 800;
  float: left;
  font-family: "Roboto", sans-serif;
  color: rgb(237, 207, 171);
  justify-content: center;
  align-items: center;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #ffffff;
  z-index: 1;
  border-bottom: 2px solid rgb(237, 207, 171);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: #333333;
  font-weight: bold;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: maroon;
}

@media screen and (max-width: 991.98px) {
  .logo a {
    display: block;
    width: 100%;
    text-align: center;
  }

  nav .menu {
    width: 100%;
    margin: 0;
  }

  nav .menu ul {
    text-align: center;
    margin: auto;
    line-height: 60px;
  }

  nav .menu ul li {
    display: inline-block;
    float: none;
  }
}
